<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="../js/vue2.6.10.js"></script>
    <script src="../node_modules/axios/dist/axios.js"></script>
    <script src="../node_modules/lodash/lodash.js"></script>
    <title>Title</title>
</head>
<style>

</style>
<body>
<div id="test">
    <li v-for="(v, k) in comments">
        {{v.id}} - {{v.content}} <button v-on:click="remove(k)">删除</button>
    </li>
    <textarea v-model="current_content" cols="30" rows="10"></textarea><br>
    <button v-on:click="push('end')">发表到后面</button>
    <button v-on:click="push('pre')">发表到前面</button>
    <br>
    <button v-on:click="del('last')">删除最后一条评论</button>
    <button v-on:click="del('first')">删除第一条评论</button>
    <br>

    <button v-on:click="sort()">按照编号排序</button>
    <button v-on:click="reverse()">反转顺序</button>
</div>
<script>
    //push这是js的默认方法, 数组追加
    // var a = [1, 2];
    // a.push(3);
    // console.log(a);

    //在vue中push 是在data中追加
    var app = new Vue({
        el: '#test',
        data: {
            //当前用户输入的内容
            current_content: "",
            comments: [
                {id: 2, content: "test2"},
                {id: 4, content: "test4"},
                {id: 1, content: "test1"},
                {id: 3, content: "test3"}
            ]
        },
        methods: {
            //反转
            reverse() {
                this.comments.reverse();
            },
            //排序
            sort() {
                this.comments.sort(function (a, b) {
                    //无法使用a.id > b.id
                    return a.id - b.id;
                });
            },

            //移除
            remove(key) {
                //splice从k位置开始移除1个
                this.comments.splice(key, 1);
            },
            /*
            push = function(){}
             */
            //添加
            push(type) {
                var id = this.comments.length + 1;
                var content = {id: id, content: this.current_content};
                switch (type) {
                    case 'end':
                        this.comments.push(content);
                        break;

                    case 'pre':
                        this.comments.unshift(content);
                        break;
                }
                this.current_content = '';
            },

            del(type) {
                switch (type) {
                    case 'last':
                        this.comments.pop();
                        break;

                    case 'first':
                        this.comments.shift();
                        break;
                }
            }
        }
    })
</script>

</body>
</html>