<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="../js/vue2.6.10.js"></script>
    <script src="../node_modules/axios/dist/axios.js"></script>
    <script src="../node_modules/lodash/lodash.js"></script>
    <title>Vue-for 循环</title>
</head>
<style>

</style>
<body>
<div id="test">
    <!-- v-for 遍历对象key表示对象的键，item表示对象的值，index表示遍历的序号-->
    <li v-for="(item, key, index) in user">
        {{index}} - {{key}} - {{item}}
    </li>

    <table border="1" width="100%">
        <tr v-for="v in 20">
            <td>{{v}}</td>
        </tr>
    </table>
</div>
<script>
    var app = new Vue({
        el: '#test',
        data: {
            user: {
                name: 'YuKaiFan',
                age: '23',
                sex: 'boy'
            }
        }
    })
</script>

</body>
</html>